@media screen and (max-width: 1099px) {
  #header {
    padding-left: 2rem;
  }

  .line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
  }

  nav {
    position: absolute;
    // right: 0%;
    background: #f9bdbd;
    // box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    // top: 0%;
    // height: 100%;
    // width: 100%;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    background: #daa520;
    padding: 0.2rem;
    border-radius: 5px;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2000;
  }

  // .hamburger.hamburger-open {
  //   position: fixed;
  //   top: 5%;
  //   right: 3.2%;
  // }

  .nav-links {
    // display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0%;
    background: #f9bdbd;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 100%;
    -webkit-clip-path: circle(100px at 120% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 200;
  }

  .nav-links.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -1%);
    pointer-events: all;
  }

  .nav-links li {
    // line-height: 5;
    // display: block;
    opacity: 0;
  }

  .nav-links li a {
    text-align: center;
    margin: auto;
    // display: block;
    font-size: 25px;
    width: 100%;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
  }
  li.fade {
    opacity: 1;
  }

  // nav ul li a {
  //   padding: 1rem 10rem;
  // }
}

@media screen and (max-width: 1289px) {
  .logo {
    flex: 1;
  }
  nav {
    flex: 2;
  }

  #showcase {
    // display: none;
    top: 30px;
  }

  #showcase .showcase-content .showcase-text h3 {
    font-size: 160%;
  }
  #showcase .showcase-content .showcase-text h1 {
    font-size: 380%;
  }
  #showcase .showcase-content .showcase-text a {
    font-size: 90%;
  }

  #showcase .showcase-content .showcase-img img {
    width: 100%;
    height: 110%;
  }

  #how,
  #about-us,
  #what,
  #testimony {
    width: 90%;
  }

  .about-us-header h1 {
    flex: 1;
    font-size: 360%;
  }

  .how-header h1 {
    flex: 2;
    font-size: 360%;
  }
  .what-header h1 {
    font-size: 360%;
  }

  .how-container a {
    width: 40%;
  }
}

@media screen and (max-width: 1200px) {
  /* .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  } */
  #about-us,
  #how,
  #what,
  #testimony {
    margin-bottom: 11rem;
  }
  #showcase {
    top: 100px;
    margin-bottom: 3rem;
    height: 100vh;
  }
  #showcase .showcase-content .showcase-text {
    width: 80%;
  }

  #showcase .showcase-content .showcase-text h3 {
    font-size: 160%;
    line-height: 190%;
  }
  #showcase .showcase-content .showcase-text h1 {
    font-size: 280%;
    line-height: 150%;
  }
  #showcase .showcase-content .showcase-text a {
    width: 70%;
    font-size: 90%;
  }
  #showcase .showcase-content .showcase-img img {
    width: 100%;
    // height: 100%;
  }

  .who-we-are h3 {
    font-size: 200%;
  }

  .about-us-header h1 {
    font-size: 260%;
  }

  #about-us .pot-section .pot-text h2 {
    font-size: 200%;
  }

  #about-us .pot-section .pot-text h3 {
    font-size: 130%;
  }

  #about-us .spoon-section img {
    width: 120%;
    height: 100%;
  }

  #about-us .spoon-section .spoon-text h2 {
    font-size: 200%;
  }

  #about-us .spoon-section .spoon-text h3 {
    font-size: 130%;
  }

  #how {
    // height: 90vh;
    width: 95%;
  }

  .how-to-custom {
    flex: 1;
  }

  .how-to-custom h3 {
    font-size: 200%;
  }

  .how-header h1 {
    flex: 1;
    font-size: 260%;
    justify-content: flex-end;
  }

  .how-container .how-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem 0rem;
  }

  .what-we-have h3 {
    font-size: 200%;
  }

  .what-header h1 {
    font-size: 260%;
  }

  .what-they-say h3 {
    font-size: 200%;
  }

  .testimony-header h1 {
    font-size: 260%;
  }

  .testimony-container .testimony-body {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    // display: none;
  }

  .testimony-container .testimony-body > img {
    height: 300px;
    width: 300px;
    // height: 200px;
  }

  .testimony-container .testimony-body > img:nth-child(2) {
    display: none;
  }

  #what .category {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 830px) {
  #showcase {
    top: 120px;
    width: 90%;
  }

  #showcase .showcase-content {
    grid-template-columns: 60% 40%;
  }

  #showcase .showcase-content .showcase-text {
    width: 90%;
  }

  #showcase .showcase-content .showcase-img img {
    width: 100%;
    // height: 50vh;
  }

  #showcase .showcase-svg-1 {
    top: 20%;
    left: 20%;
  }

  .who-we-are h3 {
    font-size: 150%;
    flex: 2;
  }

  // #about-us {
  //   margin-bottom: 0;
  // }
  .about-us-header h1 {
    font-size: 230%;
    flex: 1.5;
  }

  /* .about-us .pot-section img {
    height: 10px;
  } */

  #about-us .pot-section .pot-text h2 {
    font-size: 150%;
  }

  #about-us .pot-section .pot-text h3 {
    font-size: 100%;
  }

  #about-us .spoon-section {
    margin-bottom: 0;
    img {
      width: 120%;
      height: 100%;
    }
  }
  #about-us .spoon-section .spoon-text h2 {
    font-size: 150%;
  }

  #about-us .spoon-section .spoon-text h3 {
    font-size: 100%;
  }

  #how {
    // height: 10vh;

    margin-top: 0rem;
    width: 95%;

    .btn-dark {
      width: 60%;
    }
  }

  .how-to-custom h3 {
    font-size: 130%;
  }

  .how-header h1 {
    flex: 1;
    font-size: 210%;
    justify-content: flex-end;
  }

  .how-container .how-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 0rem;
  }

  .what-we-have h3 {
    font-size: 130%;
  }

  .what-header h1 {
    font-size: 210%;
  }

  .what-they-say h3 {
    font-size: 130%;
  }

  .testimony-header h1 {
    font-size: 210%;
  }

  #what .category {
    // grid-template-columns: 10%;
    margin: auto;
    width: 90%;
  }

  #what .category img {
    height: 80%;
    width: 80%;
  }

  #what .category a {
    margin-left: 5rem;
    width: 60%;
  }

  .testimony-container
    .testimony-body
    .testimony-card-container
    .testimony-card {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .testimony-container
    .testimony-body
    .testimony-card-container
    .card-btn
    a:nth-child(1) {
    flex: 1.5;
  }
  .testimony-container
    .testimony-body
    .testimony-card-container
    .card-btn
    a:nth-child(2) {
    flex: 0.3;
  }

  /* #subscribe {
    height: 60vh;
  } */

  .subscribe-container .subscribe-content {
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem 0rem;
    width: 85%;
  }

  .subscribe-content .subscribe-form input {
    width: 100%;
  }

  #footer {
    width: 90%;
  }

  .footer-content {
    grid-gap: 0rem 2rem;
  }
}

@media screen and (max-width: 699px) {
  #showcase .showcase-img {
    width: 100%;
    height: 70%;
  }
  #about-us,
  #how,
  #what,
  #testimony {
    margin-bottom: 9rem;
  }

  #footer {
    width: 95%;
  }

  .footer-content {
    grid-gap: 0rem 1rem;
  }
}

@media screen and (max-width: 669px) {
  .testimony-container .testimony-body {
    grid-template-columns: 100%;
    width: 80%;
  }

  .testimony-container .testimony-body > img {
    display: none;
  }

  .testimony-container .testimony-body .testimony-card {
    width: 100%;
  }

  .testimony-container
    .testimony-body
    .testimony-card-container
    .card-btn
    a:nth-child(1) {
    flex: 1;
    justify-self: flex-start;
  }
  .testimony-container
    .testimony-body
    .testimony-card-container
    .card-btn
    a:nth-child(2) {
    justify-self: flex-end;
    flex: 1;
  }

  #subscribe {
    width: 100%;
    margin-bottom: 9rem;
  }

  #footer {
    width: 80%;
  }

  .footer-content {
    grid-template-columns: 100%;
    grid-gap: 2rem 1rem;
  }
}

@media screen and (max-width: 620px) {
  .logo {
    width: 20%;
  }
  #showcase {
    top: 120px;
    width: 90%;
  }

  #showcase .showcase-content {
    grid-template-columns: 60% 40%;
  }

  #showcase .showcase-content .showcase-text {
    width: 100%;
  }

  #showcase .showcase-content .showcase-img img {
    // display: none;
    width: 100%;
    // height: 40vh;
  }

  #about-us,
  #how,
  #what,
  #testimony {
    margin-bottom: 12rem;
  }
  .who-we-are h3 {
    font-size: 200%;
  }

  .about-us-header h1 {
    font-size: 260%;
  }

  #about-us .pot-section .pot-text h2 {
    font-size: 200%;
  }

  #about-us .pot-section .pot-text h3 {
    font-size: 130%;
  }

  #about-us .spoon-section img {
    width: 120%;
    // height: 40vh;
  }

  #about-us .spoon-section .spoon-text h2 {
    font-size: 200%;
  }

  #about-us .spoon-section .spoon-text h3 {
    font-size: 130%;
  }

  #how {
    width: 95%;
  }

  .how-to-custom {
    flex: 1;
  }

  .how-to-custom h3 {
    font-size: 200%;
  }

  .how-header h1 {
    flex: 1;
    font-size: 260%;
    justify-content: flex-end;
  }

  .how-container .how-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 0rem;
  }

  .what-we-have h3 {
    font-size: 200%;
  }

  .what-header h1 {
    font-size: 260%;
  }

  #what .category {
    grid-template-columns: repeat(2, 1fr);
  }

  #testimony {
    height: 100%;
  }

  .what-they-say h3 {
    font-size: 200%;
  }

  .testimony-container .testimony-header {
    margin-bottom: 3rem;
  }

  .testimony-header h1 {
    flex: 1;
    font-size: 260%;
  }

  .testimony-container .testimony-body {
    width: 80%;
  }

  .testimony-container
    .testimony-body
    .testimony-card-container
    .testimony-card {
    width: 100%;
  }

  .subscribe-content {
    font-size: 90%;
  }
}

@media screen and (max-width: 560px) {
  // .hamburger {
  //   right: 13%;
  // }

  nav ul li a {
    padding: 1rem 5rem;
  }

  #showcase {
    top: 150px;
    height: 100vh;
    width: 80%;
  }

  #showcase .showcase-content {
    grid-template-columns: 100%;
    text-align: center;
  }

  #showcase .showcase-content .showcase-text {
    width: 100%;
  }
  #showcase .showcase-content .showcase-text h1 {
    margin: 2rem 0;
  }

  #showcase .showcase-content .showcase-text a {
    margin: auto;
    width: 80%;
    font-size: 100%;
  }

  #showcase .showcase-content .showcase-img img {
    display: none;
  }

  .who-we-are h3 {
    font-size: 130%;
  }

  .about-us-header h1 {
    font-size: 210%;
  }

  /* #about-us .pot-section::before {
    position: relative;
    top: 0%;
    left: 0;
    width: 0%;
    height: 0%;
  } */

  #about-us .pot-section .pot-text h2 {
    font-size: 130%;
  }

  #about-us .pot-section .pot-text h3 {
    font-size: 100%;
  }

  #about-us .spoon-section img {
    width: 120%;
    // height: 40vh;
  }

  #about-us .spoon-section .spoon-text h2 {
    font-size: 130%;
  }

  #about-us .spoon-section .spoon-text h3 {
    font-size: 100%;
  }

  #how {
    // height: 180vh;
    width: 95%;
  }

  .how-to-custom h3 {
    font-size: 120%;
  }

  .how-header h1 {
    flex: 1;
    font-size: 170%;
  }

  .how-container .how-card-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0rem;
    margin: auto;
    width: 80%;
  }

  #how a {
    width: 70%;
  }

  .what-we-have h3 {
    font-size: 130%;
  }

  .what-header h1 {
    font-size: 210%;
  }

  #what .category {
    width: 100%;

    a {
      width: 100%;
      margin-left: 0;
    }
  }

  .what-they-say h3 {
    font-size: 130%;
  }

  .testimony-header h1 {
    font-size: 210%;
  }
}
@media screen and (max-width: 420px) {
  #showcase {
    top: 200px;
    height: 100vh;
    width: 80%;
  }

  #showcase .showcase-content {
    grid-template-columns: 100%;
    text-align: center;
  }

  #showcase .showcase-content .showcase-text {
    width: 100%;
  }
  #showcase .showcase-content .showcase-text h1 {
    font-size: 150%;
    margin: 2rem 0;
    width: 100%;
  }
  #showcase .showcase-content .showcase-text h3 {
    font-size: 130%;
    width: 100%;
    margin: 2rem 0;
  }

  #showcase .showcase-content .showcase-text a {
    margin: auto;
    width: 100%;
    font-size: 90%;
  }

  #showcase .showcase-content .showcase-img img {
    display: none;
  }

  .who-we-are h3 {
    font-size: 130%;
  }

  #about-us,
  #how,
  #what {
    margin-bottom: 7rem;
  }

  .about-us-header h1 {
    font-size: 210%;
    display: none;
  }

  #about-us .pot-section {
    grid-template-columns: 100%;
  }

  #about-us .pot-section img {
    display: none;
  }

  #about-us .pot-section .pot-text h2 {
    font-size: 150%;
  }

  #about-us .pot-section .pot-text h3 {
    width: 80%;
    font-size: 100%;
  }

  #about-us .spoon-section {
    grid-template-columns: 100%;
  }

  #about-us .spoon-section img {
    display: none;
  }

  #about-us .spoon-section .spoon-text h2 {
    font-size: 130%;
  }

  #about-us .spoon-section .spoon-text h3 {
    font-size: 100%;
  }

  #how {
    width: 95%;

    .btn-dark {
      width: 80%;
      font-size: 90%;
    }
  }

  .how-to-custom h3 {
    font-size: 120%;
  }

  .how-header h1 {
    display: none;
  }

  .how-container .how-card-container {
    // overflow-x: hidden;
    grid-template-columns: repeat(2, 1fr);
    // grid-gap: 3rem 0rem;
    margin: auto;
    width: 90%;
  }

  .how-container .how-card-container .card img {
    width: 100%;
  }

  .what-we-have h3 {
    font-size: 130%;
  }

  .what-header h1 {
    display: none;
  }

  #what .category {
    width: 100%;
    grid-gap: 2rem;
  }

  .what-they-say h3 {
    font-size: 10%;
  }

  .testimony-header h1 {
    display: none;
  }

  .testimony-container .testimony-body {
    width: 90%;
  }

  .testimony-container
    .testimony-body
    .testimony-card-container
    .testimony-card {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 370px) {
  #showcase {
    top: 100px;
    height: 100vh;
  }

  #testimony {
    margin-bottom: 8rem;

    .testimony-card {
      h3 {
        font-size: 70%;
        margin: 0rem;
      }
    }
  }

  #how {
    .btn-dark {
      width: 90%;
    }
  }

  .subscribe-container .subscribe-content {
    width: 90%;
  }
}
@media screen and (max-width: 340px) {
  #header {
    padding-left: 1rem;
  }

  .logo {
    width: 100%;
    height: 40%;
  }

  #showcase {
    top: 100px;
    height: 100vh;
  }
}
